body {
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.link-button {
    text-decoration: none;
    margin-top: 20px;
    padding: 9px 9px;
    display: inline-block;
    color: white;
    background: #FF5959;
    border: 1px solid white;
    border-radius: 5px;
}

.background-banner {
    background-image: url(./images/donation13.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;
}

.background-content {
    color: brown;
    text-align: center;
    padding: 200px;
}

.background-content h1 {
    margin-bottom: 20px;
    font-size: 50px;
    color: azure;
}

.background-content p {
    margin-bottom: 20px;
    font-size: 20px;
    color: azure;
}

.donate-today {
    text-align: center;
    padding-top: 80px;
}

.donate-today h1 {
    font-size: 40px;
}

.donate-today p {
    padding-top: 30px;
    color: #707070;
}

.donation-amount {
    padding-left: 360px;
    margin-top: 70px;
    font-size: 20px;
    display: flex;
}

.btn-one {
    background-color: wheat;
    padding: 40px 35px;
    margin-right: 10px;
    border: 2px white;
    font-size: 15px;
}

.btn-two {
    background-color: tomato;
    box-shadow: 2px 2px red;
    padding: 40px 35px;
    margin-right: 10px;
    border: solid 1px red;
    color: white;
    font-size: 20px;
}

.btn-three {
    background-color: wheat;
    padding: 40px 35px;
    margin-right: 10px;
    border: 2px white;
    font-size: 15px;
}

.btn-four {
    background-color: wheat;
    padding: 40px 35px;
    margin-right: 10px;
    border: 2px white;
    font-size: 15px;
}

.btn-five {
    background-color: wheat;
    padding: 40px 35px;
    border: 2px white;
    font-size: 15px;
}

.other-taka {
    padding-top: 50px;
}

.other-taka .link-button {
    margin-left: 620px;
}

.other-taka p {
    font-size: 15px;
    text-align: center;
    border-bottom: 2px solid red;
    margin: 5px 200px;
}

.donate-plan {
    padding-top: 0 0;
}

.donate-plan h2 {
    padding: 100px 240px;
    text-align: center;
    font-size: 30px;
}

.donate-plan p {
    text-align: center;
    padding-bottom: px;
    font-size: 15px;
    margin-bottom: 700px;
}

.flexible-container {
    display: flex;
    padding-bottom: 600px;
    margin-top: 300px;
}

.first-child {
    width: 40%;
    padding: 30px;
    border: 2px;
    box-shadow: 10px 10px 40px grey;
    border-radius: 20px;
    margin-left: 40px;
    color: black;
}

.footer {
    width: 100%;
    height: 100px;
    background-color: black;
    color: wheat;
}

.footer-head {
    font-style: italic;
    color: tomato;
    padding-left: 600px;
}

.footer-para {
    padding-left: 540px;
    padding-top: 20px;
}